body{
    text-align:center;
    margin-top:200px;
    font-family:sans-serif
}
button{
    width:100px;
    margin:5px;
    border:1px solid black;
    border-radius:5px;
    font-weight: bold;
    padding:10px;

    background-color:#f0f0f0;
}
input[type="number"]{
    width:100px;
    margin:5px;
    border:1px solid black;
    border-radius:5px;
    font-weight: bold;
    padding:10px;
    text-align:center;
    background-color:#f0f0f0;
}